includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan/conf/config.levelmax.neon

parameters:
	doctrine:
		objectManagerLoader: tests/object-manager.php
	excludes_analyse:
		- src/Migrations
	paths:
		- src
		- tests
	tmpDir: %currentWorkingDirectory%/.build/phpstan
